# Ignore Python bytecode files
*.pyc
*DS_Store
__pycache__/

# Python build / packaging artifacts
build/
dist/
*.egg-info/

# Claude session notes
.claude/
temp/
raw_input_data/
HRDTimer_PreProcess/
example_data/*bootstrap*/
example_data/*PreProcess*/
example_data/*results*/
to_remove/
notebooks/paper_figures/Fig4_scNanoSeqSBS1.ipynb
scNanoSeq_Michael/
data_scNanoSeq/
revision/
HRDTimer_PreProcess_sub/
pipeline/bootstraps
pipeline/output
pipeline/results
pipeline/slurm_jobs
pipeline/instructions.txt
.vscode